body{
  margin:0;
  background:black;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
}

/* ÁREA DO JOGO */
#game{
  position:relative;
  width:400px;
  height:700px;
  overflow:hidden;
  display:none;
}

/* TELA INICIAL */
#telaInicial{
  position:absolute;
  width:400px;
  height:700px;
  overflow:hidden;
  z-index:100;
}

/* IMAGEM DA TELA INICIAL */
#fundoInicio{
  position:absolute;
  width:100%;
  height:100%;
  object-fit:cover;
}

/* BOTÃO JOGAR (INVISÍVEL) */
#btnJogar{
  position:absolute;
  width:180px;
  height:60px;

  left:110px;
  top:500px;

  background:transparent;
  border:none;
  cursor:pointer;
  z-index:101;
}

/* BOTÃO COMO JOGAR (INVISÍVEL) */
#btnTutorial{
  position:absolute;
  width:180px;
  height:60px;

  left:110px;
  top:580px;

  background:transparent;
  border:none;
  cursor:pointer;
  z-index:101;
}

/* MAPA */
#mapa{
  position:absolute;
  width:100%;
  height:100%;
  object-fit:cover;
  z-index:1;
}

/* PERSONAGEM */
#player{
  position:absolute;
  width:60px;
  z-index:10;
}

/* BALÃO */
#balao{
  position:absolute;
  width:120px;
  z-index:20;
}

#balao img{
  width:100%;
}

/* TEXTO DA PERGUNTA */
#pergunta{
  position:absolute;
  top:38%;
  left:50%;
  transform:translate(-50%, -50%);
  width:70%;
  text-align:center;
  font-size:16px;
  font-weight:bold;
  color:black;
}

/* ALTERNATIVAS */
#opcoes{
  position:absolute;
  bottom:20px;
  width:100%;
  display:flex;
  justify-content:center;
  gap:10px;
  z-index:20;
}

/* BOTÕES DAS RESPOSTAS */
#opcoes button{
  width:70px;
  height:70px;
  font-size:20px;
  font-weight:bold;
  border:none;
  cursor:pointer;
}
