*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:black;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

/* FORMATO CELULAR */
#telaInicial,
#game{
    width:390px;
    height:700px;
    position:relative;
    overflow:hidden;
}

/* COMEÇA ESCONDIDO */
#game{
    display:none;
}

/* CAPA */
#capa{
    width:100%;
    height:100%;
    object-fit:cover;
}

/* BOTÃO JOGAR */
#btnJogar{
    position:absolute;
    bottom:160px;
    left:50%;
    transform:translateX(-50%);
    
    width:180px;
    height:55px;

    font-size:25px;
    font-weight:bold;
    border:none;
    border-radius:12px;
    cursor:pointer;
}

/* MAPA */
#mapa{
    width:100%;
    height:100%;
    object-fit:cover;
}

/* PERSONAGEM */
#player{
    position:absolute;
    width:45px;

    left:35px;
    bottom:20px;
}

/* BALÃO */
#balaoContainer{
    position:absolute;

    left:15px;
    top:15px;

    width:120px;
}

#balao{
    width:100%;
}

#pergunta{
    position:absolute;

    top:25px;
    left:0;

    width:100%;

    text-align:center;
    font-size:24px;
    font-weight:bold;
}

/* OPÇÕES */
#opcoes{
    position:absolute;

    right:10px;
    bottom:100px;

    display:flex;
    flex-direction:column;
    gap:10px;
}

#opcoes button{
    width:70px;
    height:70px;

    font-size:30px;
    font-weight:bold;
    cursor:pointer;
}
