body{
  margin:0;
  overflow:hidden;
  background:black;
}

/* TELA INICIAL */

#telaInicial{
  position:absolute;
  width:100%;
  height:100%;
  z-index:100;
}

#fundoInicio{
  width:100%;
  height:100%;
  object-fit:cover;
}

#btnJogar{
  position:absolute;
  bottom:120px;
  left:50%;
  transform:translateX(-50%);

  width:200px;
  height:70px;

  border:none;
  border-radius:15px;

  font-size:28px;
  font-weight:bold;

  background:#ff9800;
  color:white;

  cursor:pointer;
}

/* JOGO */

#game{
  position:relative;
  width:100vw;
  height:100vh;
  display:none;
}

#mapa{
  width:100%;
  height:100%;
  object-fit:contain;
}

/* PERSONAGEM */

#player{
  position:absolute;
  width:60px;
  z-index:5;
}

/* BALÃO */

#balaoContainer{
  position:absolute;
  top:20px;
  left:20px;
  z-index:10;
}

#balaoImg{
  width:140px;
}

#pergunta{
  position:absolute;
  top:20px;
  left:20px;
  width:90px;

  text-align:center;
  font-size:22px;
  font-weight:bold;
}

/* ALTERNATIVAS */

#opcoes{
  position:absolute;
  top:130px;
  left:25px;

  display:flex;
  flex-direction:column;
  gap:10px;

  z-index:10;
}

#opcoes button{
  width:90px;
  height:55px;

  border:none;
  border-radius:10px;

  font-size:22px;
  font-weight:bold;

  background-image:url("botao.png");
  background-size:100% 100%;
  background-repeat:no-repeat;

  color:white;
  cursor:pointer;
}
